In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\SRIKAR PILLALAMARRI\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [12]:
df = pd.read_csv(r'D:\Data Analytics\Machine Learning Datasets\Extarcted\cardekho\cardekho_imputated.csv',index_col = 0)
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [13]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [14]:
df.drop('car_name', axis = 1, inplace = True)
df.drop('brand', axis = 1, inplace = True)

In [15]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [16]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [17]:
num_features = [features for features in df.columns if df[features].dtype != 'O']
print(num_features)
print('Number of Numeric Features are: ',len(num_features))
cat_features = [features for features in df.columns if df[features].dtype == 'O']
print(cat_features)
print('Number of Categorical Features are: ',len(cat_features))
discrete_features = [features for features in num_features if len(df[features].unique()) <= 25]
print(discrete_features)
print('Number of Discrete Features are: ',len(discrete_features))
continous_features = [features for features in num_features if features not in discrete_features]
print(continous_features)
print('Number of Continous Features are: ',len(continous_features))

['vehicle_age', 'km_driven', 'mileage', 'engine', 'max_power', 'seats', 'selling_price']
Number of Numeric Features are:  7
['model', 'seller_type', 'fuel_type', 'transmission_type']
Number of Categorical Features are:  4
['vehicle_age', 'seats']
Number of Discrete Features are:  2
['km_driven', 'mileage', 'engine', 'max_power', 'selling_price']
Number of Continous Features are:  5

In [18]:
X = df.drop(['selling_price'], axis = 1)
y = df['selling_price']

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [21]:
num_features = X.select_dtypes(exclude = 'object').columns
onehotcolumns = ['seller_type', 'fuel_type', 'transmission_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop = 'first')
# We are drop = 'first' becauese when we do the one hot encoding to the n columns, (n-1) is sufficent to represent the n columns.

preprocessor = ColumnTransformer([
    ('OneHotEncoder', oh_transformer, onehotcolumns), # Tuple Format
    ('StandardScaler', numeric_transformer, num_features) # Tuple Format
], remainder = 'passthrough') 
# If we don't keep remainder = 'passthrough' it is going to delete all the remaing columns

In [22]:
X = preprocessor.fit_transform(X)

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)
X_train.shape, X_test.shape

((12328, 14), (3083, 14))

In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [26]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mse)
    r2 = r2_score(true,predicted)
    return mae,mse,rmse,r2

In [29]:
models = {
    'Linear Regression': LinearRegression(),
    'Lasso': Lasso(),
    'Ridge': Ridge(),
    'K-Nighbours Regressor': KNeighborsRegressor(),
    'Decision tree': DecisionTreeRegressor(),
    'RF': RandomForestRegressor()
}

for i in range(len(list(models))):
    model_name = list(models.keys())[i]
    model = list(models.values())[i]
    model.fit(X_train, y_train)
    
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Ensure the true labels align with the predictions
    model_train_mae, model_train_mse, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_mse, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    print(model_name)
    
    print("Model Performance for Training set:")
    print("Mean Absolute Error of the data is: ", model_train_mae)
    print("Mean Square Error of the data is: ", model_train_mse)
    print("RMSE of the data is: ", model_train_rmse)
    print("R2 Score of the data is: ", model_train_r2)
    
    print("------------------------------------------------------------")
    
    print("Model Performance for Test set:")
    print("Mean Absolute Error of the data is: ", model_test_mae)
    print("Mean Square Error of the data is: ", model_test_mse)
    print("RMSE of the data is: ", model_test_rmse)
    print("R2 Score of the data is: ", model_test_r2)

Linear Regression
Model Performance for Training set:
Mean Absolute Error of the data is:  268101.6070829937
Mean Square Error of the data is:  306756099359.7596
RMSE of the data is:  553855.6665411663
R2 Score of the data is:  0.6217719576765959
------------------------------------------------------------
Model Performance for Test set:
Mean Absolute Error of the data is:  279618.5794158429
Mean Square Error of the data is:  252550062888.5656
RMSE of the data is:  502543.5930230985
R2 Score of the data is:  0.6645109298852004
Lasso
Model Performance for Training set:
Mean Absolute Error of the data is:  268099.2226498115
Mean Square Error of the data is:  306756104248.3742
RMSE of the data is:  553855.6709544231
R2 Score of the data is:  0.6217719516489697
------------------------------------------------------------
Model Performance for Test set:
Mean Absolute Error of the data is:  279614.7461034126
Mean Square Error of the data is:  252549134806.78134
RMSE of the data is:  502542.66963789385
R2 Score of the data is:  0.6645121627547996
Ridge
Model Performance for Training set:
Mean Absolute Error of the data is:  268059.80146883096
Mean Square Error of the data is:  306756818740.9266
RMSE of the data is:  553856.3159709624
R2 Score of the data is:  0.6217710706848424
------------------------------------------------------------
Model Performance for Test set:
Mean Absolute Error of the data is:  279557.2168930273
Mean Square Error of the data is:  252540243247.96863
RMSE of the data is:  502533.8229890289
R2 Score of the data is:  0.6645239743566809
K-Nighbours Regressor
Model Performance for Training set:
Mean Absolute Error of the data is:  91425.47047371836
Mean Square Error of the data is:  106193217845.55484
RMSE of the data is:  325873.008771139
R2 Score of the data is:  0.8690645337531115
------------------------------------------------------------
Model Performance for Test set:
Mean Absolute Error of the data is:  112526.34609146934
Mean Square Error of the data is:  64021344520.150826
RMSE of the data is:  253024.39510875393
R2 Score of the data is:  0.9149536488136147
Decision tree
Model Performance for Training set:
Mean Absolute Error of the data is:  5164.819922128488
Mean Square Error of the data is:  432524990.53644824
RMSE of the data is:  20797.23516567643
R2 Score of the data is:  0.9994666998284044
------------------------------------------------------------
Model Performance for Test set:
Mean Absolute Error of the data is:  126096.51583955024
Mean Square Error of the data is:  95746710183.7361
RMSE of the data is:  309429.6530453022
R2 Score of the data is:  0.8728094762729628
RF
Model Performance for Training set:
Mean Absolute Error of the data is:  39936.365626579514
Mean Square Error of the data is:  16249874059.702925
RMSE of the data is:  127474.9938603761
R2 Score of the data is:  0.9799640233187501
------------------------------------------------------------
Model Performance for Test set:
Mean Absolute Error of the data is:  101436.50996913672
Mean Square Error of the data is:  50793130114.43618
RMSE of the data is:  225373.31278222846
R2 Score of the data is:  0.9325260908850729

In [39]:
knn_params = {'n_neighbors': [2,3,10,20,40,50]}
rf_params = {
    'max_depth': [5,10,None,8,15],
    'max_features': [5,6,7,8,'auto'],
    'min_samples_split': [2,8,15,20],
    'n_estimators': [100,200,500,1000]
}

In [40]:
randomcv_models = [
    ('KNN', KNeighborsRegressor(), knn_params),
    ('RF', RandomForestRegressor(), rf_params)
]

In [41]:
randomcv_models

[('KNN', KNeighborsRegressor(), {'n_neighbors': [2, 3, 10, 20, 40, 50]}),
 ('RF',
  RandomForestRegressor(),
  {'max_depth': [5, 10, None, 8, 15],
   'max_features': [5, 6, 7, 8, 'auto'],
   'min_samples_split': [2, 8, 15, 20],
   'n_estimators': [100, 200, 500, 1000]})]

In [42]:
from sklearn.model_selection import RandomizedSearchCV
model_param = {}
for name,model,params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                               param_distributions=params,
                               n_iter=100,
                               cv = 3,
                               verbose = 2,
                               n_jobs = -1)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_
for model_name in model_param:
    print(f'----------------------Best Parameters for {model_name}-------------------------')
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits

C:\Users\SRIKAR PILLALAMARRI\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
66 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
37 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIKAR PILLALAMARRI\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIKAR PILLALAMARRI\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\Users\SRIKAR PILLALAMARRI\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\SRIKAR PILLALAMARRI\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
29 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIKAR PILLALAMARRI\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIKAR PILLALAMARRI\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\Users\SRIKAR PILLALAMARRI\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\SRIKAR PILLALAMARRI\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\SRIKAR PILLALAMARRI\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_search.py:1103: UserWarning: One or more of the test scores are non-finite: [0.85817213 0.84588244 0.84616676        nan        nan 0.84985601
 0.82829772 0.84237576        nan 0.84043763 0.85814913 0.82553704
 0.8501729         nan        nan 0.83917127 0.82901845 0.84332069
 0.84949281        nan 0.83321929 0.83404886 0.85560153 0.83701156
 0.81841695 0.84377531        nan        nan 0.84619204 0.85030504
 0.79692351 0.83907718 0.8279143         nan 0.84964496 0.85626193
 0.84368282        nan 0.85805757 0.8379718         nan 0.84389822
 0.84868526 0.83482512 0.84311415 0.84072009 0.82123427 0.85290874
 0.84776627 0.79235861        nan 0.83736843 0.82608588 0.84570544
 0.85673205 0.84435481 0.83852069 0.78055143 0.83371662 0.83253175
 0.85143686 0.85384152        nan        nan 0.78274328        nan
 0.84087596        nan        nan 0.82745423        nan 0.85560806
 0.84847138 0.77264468 0.8377321  0.82871484 0.7941468  0.79390307
 0.79314742 0.83342043 0.86053436        nan 0.82914529 0.82714566
 0.78173517 0.8484402  0.83170513        nan 0.83990422 0.8437574
 0.83580382 0.82833524        nan 0.82476613 0.85652158 0.8348244
        nan 0.84329526 0.79213073 0.836586  ]
  warnings.warn(

----------------------Best Parameters for KNN-------------------------
{'n_neighbors': 10}
----------------------Best Parameters for RF-------------------------
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 7, 'max_depth': 15}

In [44]:
models = {
    'K-Nighbours Regressor': KNeighborsRegressor(n_neighbors = 10, n_jobs = -1),
    'RF': RandomForestRegressor(n_estimators = 100, min_samples_split = 2, max_features = 7, max_depth = 15, n_jobs = -1)
}

for i in range(len(list(models))):
    model_name = list(models.keys())[i]
    model = list(models.values())[i]
    model.fit(X_train, y_train)
    
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Ensure the true labels align with the predictions
    model_train_mae, model_train_mse, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_mse, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    print(model_name)
    
    print("Model Performance for Training set:")
    print("Mean Absolute Error of the data is: ", model_train_mae)
    print("Mean Square Error of the data is: ", model_train_mse)
    print("RMSE of the data is: ", model_train_rmse)
    print("R2 Score of the data is: ", model_train_r2)
    
    print("------------------------------------------------------------")
    
    print("Model Performance for Test set:")
    print("Mean Absolute Error of the data is: ", model_test_mae)
    print("Mean Square Error of the data is: ", model_test_mse)
    print("RMSE of the data is: ", model_test_rmse)
    print("R2 Score of the data is: ", model_test_r2)

K-Nighbours Regressor
Model Performance for Training set:
Mean Absolute Error of the data is:  103472.04737183647
Mean Square Error of the data is:  132103731766.70993
RMSE of the data is:  363460.7706021517
R2 Score of the data is:  0.8371170582947722
------------------------------------------------------------
Model Performance for Test set:
Mean Absolute Error of the data is:  117496.21310411936
Mean Square Error of the data is:  69636909424.46481
RMSE of the data is:  263888.06230003055
R2 Score of the data is:  0.9074938975612508
RF
Model Performance for Training set:
Mean Absolute Error of the data is:  54676.87942569096
Mean Square Error of the data is:  19943853914.69058
RMSE of the data is:  141222.71033615866
R2 Score of the data is:  0.9754093729895468
------------------------------------------------------------
Model Performance for Test set:
Mean Absolute Error of the data is:  98620.11772995128
Mean Square Error of the data is:  47498770646.79036
RMSE of the data is:  217942.12682909737
R2 Score of the data is:  0.9369023384368782